@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $font-display: swap) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;
        font-display: $font-display;
        src: url('#{$file-path}.eot');
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype');
    }
}